<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>descadastrar</title>
</head>
<body>
    <h1>Descadastrar</h1>
    <form action="{{ url_for('categorias.descadastrar' ) }}" method="post">
        <label for="categoria">Selecione uma categoria</label>
        <select name="categoria" id="categoria">
            {% for categoria in categorias %}
                <option value="{{ categoria[1] }}">{{ categoria[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">enviar</button>
    </form>
    <form action="{{ url_for('home.index' ) }}">
        <button type="submit">Voltar a pagina inicial</button>
    </form>
    
</body>
</html>