<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Somar</title>
</head>
<body>
    <h1>Somar</h1>
    <form action="{{ url_for('produtos.somar' ) }}" method="post">
        <label for="somar_num">Quanto quer somar ao produto?</label>
        <input type="hidden" name="codigo" value="{{codigo}}">
        <input type="number" name="somar_num" id="somar_num">
        <button type="submit">Enviar</button>
    </form>
    
</body>
</html>